body {
  background: #FAFAFA;
  color: #2C3E50;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* 容器宽度充满屏幕 */
  padding: 0 20px; /* 在屏幕小于1000px时添加内边距 */
}

/* .card-white 设置自动上下居中，并且确保最大宽度 */
.card-white {
  margin: 20px auto; /* 上下有间距，左右自动居中 */
  max-width: 800px; /* 设置最大宽度 */
  width: 100%; /* 确保宽度不会超过最大值 */
  padding: 40px;
  background-color: white;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card-white:hover {
  transform: scale(1.02);
}

h1 {
  color: #34495E;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

p {
  font-weight: 500;
  font-size: 20px;
  color: #7F8C8D;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: #2980B9;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #1ABC9C;
  color: white;
}


h2 {
  color: #16A085;
  font-size: 1.8em;
  font-weight: 600;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

 li {
  display: inline-block;
  padding: 0px 20px;
}

i {
  font-size: 50px;
  color: #2980B9;
  transition: transform 0.3s ease;
}

i:hover {
  color: #16A085;
}

.fa-square-github:hover {
  transform: scale(1.1);
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
